<!DOCTYPE html>
<html>
  <head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" 
      type="image/png" 
      href="http://helloworldmiami.github.io/assets/favicon.png">
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:hwm@sfldesigners.com">email</a></li>
   <li><a href="https://github.com/helloworldmiami">github.com/helloworldmiami</a></li>
   </ul>
  </footer>
  </body>

</html>
